@model IEnumerable<Ogrenci>
@{
    ViewData["Title"] = "Öğrenciler";
}

<h1>Öğrenci İşlemleri</h1>
<div>
    <a asp-action="AddStudent" asp-controller="Student" class="btn btn-outline-primary">Öğrenci Ekle</a>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Numara</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>İşlemler</th>
                <th>Dersler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Numara</td>
                    <td>@item.Ad</td>
                    <td>@item.Soyad</td>
                    <td><a class="btn btn-sm btn-outline-success" href="/Student/EditStudent/@item.Ogrenciid">Düzenle</a> | <a onclick="return confirm('Emin misiniz?')" class="btn btn-sm btn-outline-danger" href="/Student/DeleteStudent/@item.Ogrenciid">Sil</a></td>
                    <td><a class="btn btn-outline-primary" asp-action="TakenDers" asp-controller="OgrenciDers" asp-route-ogrenciId="@item.Ogrenciid">Derslere Git</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
